@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&display=swap');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

/******************** 공통사항 *********************/
html, body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; height: 5000px;}

.btn-eee {padding: 8px 16px; border: 1px solid #eee; background-color: #eee; color: #444; border-radius: 3px; font-size: 12px; font-weight: 500;}
.btn-ghost {padding: 8px 16px; border: 1px solid #fff; background-color: transparent; font-size: 14px; font-weight: 500; color: #fff; animation-name: none; animation-duration: 0.3s;}
.btn-ghost:hover {animation-name: btnGhost;}
@keyframes btnGhost {
	0% {background-color: transparent; color: #fff;}
	50% {background-color: #fff; color: #000;}
	100% {background-color: transparent; color: #fff;}
}
.hover-active, .hover-link, .hover-ani {cursor: pointer;}
.hover-active::after, .hover-link::after, .hover-ani::after {cursor: pointer; display: block; content: ""; border-bottom:2px solid #fff;}
.hover-active::after {transition: all 0.3s; transform-origin: right; transform: scaleX(1); cursor: pointer;}
.hover-active:hover::after {transform-origin: left; transform: scaleX(0);}
.hover-link::after {transition: all 0.3s; transform-origin: left; transform: scaleX(0);}
.hover-link:hover::after {transform-origin: right; transform: scaleX(1);}
.hover-ani::after {animation-name: none; animation-duration: 0.5s;}
.hover-ani:hover::after {animation-name: hoverAni;}
@keyframes hoverAni {
	0% {transform-origin: right; transform: scaleX(1);}
	49% {transform-origin: right;}
	50% {transform-origin: left; transform: scaleX(0);}
	99% {transform-origin: left;}
	100% {transform: scaleX(1);}
}



/******************** .header *********************/
.header-wrapper {width: 100%; height: 100vh; position: relative; background-color: black; overflow: hidden; color: #fff;}
.header-wrapper .banner-wrap {position: absolute; width: 100%; height: 100%; opacity: .6;}
.header-wrapper .banner-wrap .banner {position: absolute; width: 100%; height: 100%; top: 0; left: 0; 
	background-size: cover; background-repeat: no-repeat; background-position: center;}
.header-wrapper .banner-wrap .banner:nth-child(1) {background-image: url(../img/img-1.jpg);}
.header-wrapper .banner-wrap .banner:nth-child(2) {background-image: url(../img/img-2.jpg);}
.header-wrapper .banner-wrap .banner:nth-child(3) {background-image: url(../img/img-3a.jpg);}
.header-wrapper .banner-wrap .banner:nth-child(4) {background-image: url(../img/img-4.jpg);}
.header-wrapper .cont-wrap {position: absolute; width: 100%; height: 100%; top: 0; left: 0; padding: 50px 70px;}
.header-wrapper .banner-frame {position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-color: #fff; border-style: solid; border-width: 0; transition: border-width 0.75s;}

.header-wrapper .top-wrap {display: flex; justify-content: space-between; font-family: 'Mukta', sans-serif;  font-weight: 500; letter-spacing: -1;}
.header-wrapper .top-lt {display: flex; align-items: center;}
.header-wrapper .top-lt .navi-wrap {display: flex; margin-left: 20px; align-items: center;}
.header-wrapper .top-lt .navi-wrap .navi {margin: 16px; cursor: pointer;}
.header-wrapper .top-lt .navi-wrap .divide {border-left: 1px solid #ccc; margin: 0 20px; height: 16px;}
.header-wrapper .top-lt .fa-bars {font-size: 24px; display: none; cursor: pointer; margin-left: 24px;}
.header-wrapper .top-rt {display: flex; align-items: center;}
.header-wrapper .top-rt .icon {font-size: 24px; padding: 16px;}
.header-wrapper .top-rt .tel-wrap {display: flex; flex-direction: column; align-items: flex-end; padding-left: 16px;}
.header-wrapper .top-rt .tel-wrap div:nth-child(1) {font-size: 18px;}
.header-wrapper .top-rt .tel-wrap div:nth-child(2) {font-size: 14px;}
.header-wrapper .top-rt .fa-phone-volume {display: none;}
.header-wrapper .top-rt .btn-ghost {margin-left: 32px;}

.header-wrapper .bottom-wrap {height: calc(100vh - 225px); min-height: 500px; display: flex; flex-direction: column; justify-content: flex-end;}
.header-wrapper .slogan-wrap .title-small {font-size: 14px; margin-bottom: 16px; font-weight: 500;}
.header-wrapper .slogan-wrap .title {font-family: 'Poppins', sans-serif; font-size: 44px; font-weight: 600; letter-spacing: -2px; line-height: 46px;}
.header-wrapper .btn-wrap .lists {margin: 8vh 0; display: flex;}
.header-wrapper .btn-wrap .list {padding: 24px; border: 2px solid #fff; flex: 20% 0 0; margin-right: 2%; cursor: pointer;}
.header-wrapper .btn-wrap .list .more {font-size: 12px; font-weight: 600; margin-bottom: 50px; letter-spacing: -1px;}
.header-wrapper .btn-wrap .list .title {font-size: 20px; font-weight: 500;}
.header-wrapper .btn-wrap .list .title-sub {font-size: 14px; color: #ccc;}
.header-wrapper .btn-wrap .btn-eee {display: none; margin: 24px 0 48px 0;}
.header-wrapper .sns-wrap {display: flex; align-items: center;}
.header-wrapper .sns-wrap .fab {font-size: 20px; padding: 8px;}
.header-wrapper .sns-wrap .bar {width: 30px; border: 1px solid #fff; margin: 0 30px 0 60px; }
.header-wrapper .sns-wrap .hover-link {font-size: 13px; letter-spacing: -0.5px;}
.header-wrapper .sns-wrap .hover-link .fa {margin-right: 12px;}




/******************** 반응형 *********************/
@media screen and (max-width: 1399px) {
	.header-wrapper .top-lt .navi-wrap {display: none;}
	.header-wrapper .top-lt .fa-bars {display: block;}
}

@media screen and (max-width: 1199px) {
	
} 

@media screen and (max-width: 991px) {
	.header-wrapper .banner-frame {display: none;}
	.header-wrapper .cont-wrap {padding: 16px 24px;}
	.header-wrapper .top-rt .tel-wrap {display: none;}
	.header-wrapper .top-rt .fa-phone-volume {display: block;}
	.header-wrapper .btn-wrap .lists {display: none;}
	.header-wrapper .btn-wrap .btn-eee {display: block;}
}

@media screen and (max-width: 767px) {
	.header-wrapper .top-rt .btn-ghost {display: none;}
	.header-wrapper .sns-wrap .bar {display: none;}
	.header-wrapper .sns-wrap .hover-link {margin-left: 32px;}
}

@media screen and (max-width: 575px) {

} 

